@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Typography */
.wufoo .info h2{font-size:160%;font-family:'proxima_nova_rgbold';color:#000000}
.wufoo .info div{font-size:95%;font-family:'proxima_nova_rgregular';color:#444444}
.wufoo .section h3{font-size:110%;font-family:'proxima_nova_rgregular';background:#FFFFFF;color:#000000}
.wufoo .section div{font-size:85%;font-family:'proxima_nova_rgregular';color:#444444}
.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family:'proxima_nova_rgregular';color:#444444}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:'proxima_nova_rgregular';color:#444444}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family:'proxima_nova_rgregular';color:#333333}
.wufoo label.choice{color:#444444}
.wufoo .instruct{font-size:80%;font-family:'proxima_nova_rgregular';color:#444444
}
